.box
	color: #FFF
	background-color: #121212;
	padding: 2rem 3rem
	min-width: 42rem;

.box-center
	display: inline-block
	position: absolute
	top: 50%
	left: 50%	
	transform: translate(-50%, -50%)

.box-pulse
	animation: pulse 1s ease infinite

.box-pulse-hover:hover
	animation: pulse 1s ease infinite

@keyframes pulse
	0%
		transform: scale(1)
	50%
		transform: scale(1.1)
	100%
		transform: scale(1)