div(class="welcome box box-center")
    div(class="text-center")
        h1 Welcome To AcroFear
            br
            small The game of acronyms...
        p &nbsp;
        p
            button(type="button", class="btn btn-primary btn-lg btn-block box-pulse-hover", ng-click="loginButtonClick()") Login
            p &nbsp;           
            button(type="button", class="btn btn-default btn-lg btn-block box-pulse-hover", ng-click="registerButtonClick()") Register
        p &nbsp;
        p A 
            a(href="https://github.com/FoxCouncil", target="_blank") FoxCouncil
            span  Production &copy; 2015